.navbar {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-top: 1px solid rgb(41, 69, 37);
  border-bottom: 1px solid rgb(41, 69, 37);
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  display: block;
  z-index: 120;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(138, 199, 129);
}

.entity:after {
  content: "\25BF";
}

.category {
  width: 100%;
  border-top: 1px solid rgb(41, 69, 37);
  border-bottom: 1px solid rgb(41, 69, 37);
  padding: 10px;
  font-weight: bold;
  line-height: 1em;
  margin: auto;
  height: 2em;
  overflow: hidden;
  z-index: 120;
}

.category:active,
.category:hover {
  line-height: 1.5em;
  vertical-align: middle;
  height: auto;
  z-index: 120;
}

.subcategoryContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  z-index: 120;
}

.subcategory {
  font-weight: normal;
  margin-left: 10px;
  padding: 5px;
  list-style: none;
  border-bottom: 1px solid rgb(41, 69, 37);
  z-index: 120;
}
@media (min-width: 728px) {
  .navbar {
    max-width: 20%;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
  }
  .subcategory {
    border-bottom: 0px;
  }
}

@media (min-width: 1024px) {
  .category {
    line-height: 1.5em;
    margin: auto;
    height: 2.5em;
    font-size: 1.3em;
  }
}

@media (min-width: 1400px) {
  .category {
    font-size: 1.8em;
  }
}
