.homeImg {
  width: 100%;
  margin: -80px -5px -70px;
  padding: 0px;
  z-index: -10;
}

.main {
  width: 100%;
  margin-top: 70px;
}

@media (min-width: 728px) {
  .main {
    margin-top: 20px;
    margin-left: 80px;
  }
}
