.homeImg {
  width: 100%;
  margin: -80px -5px -70px;
  padding: 0px;
  z-index: -10;
}
@media (min-width: 728px) {
  .homeImg {
    width: 60%;
    margin: -80px 20% -70px;
    z-index: -10;
  }
}
@media (min-width: 1024px) {
  .homeImg {
    width: 40%;
    margin: -140px 30%;
    z-index: -10;
  }
}
